In [1]:
import polars as pl

In [2]:
lf_1996 = pl.scan_csv("data/1996to2005.csv", ignore_errors=True).select("DATE", "DailyAverageDryBulbTemperature").drop_nulls()
lf_2015 = pl.scan_csv("data/2005to2015.csv", ignore_errors=True).select("DATE", "DailyAverageDryBulbTemperature").drop_nulls()
lf_2025 = pl.scan_csv("data/2015to2025.csv", ignore_errors=True).select("DATE", "DailyAverageDryBulbTemperature").drop_nulls()

In [3]:
lf_1996 = lf_1996.with_columns(
    pl.col("DailyAverageDryBulbTemperature").str.replace_all(r"[^0-9]", "").cast(pl.Int64).alias("TEMP")
)

lf_1996 = lf_1996.drop("DailyAverageDryBulbTemperature")

lf_2015 = lf_2015.rename({"DailyAverageDryBulbTemperature": "TEMP"})

lf_2025 = lf_2025.rename({"DailyAverageDryBulbTemperature": "TEMP"})

lf_full = pl.concat([lf_1996, lf_2015, lf_2025], how="vertical")

lf_full.collect()

shape: (10_332, 2)
┌─────────────────────┬──────┐
│ DATE                ┆ TEMP │
│ ---                 ┆ ---  │
│ str                 ┆ i64  │
╞═════════════════════╪══════╡
│ 1996-07-01T23:59:00 ┆ 83   │
│ 1996-07-02T23:59:00 ┆ 83   │
│ 1996-07-03T23:59:00 ┆ 82   │
│ 1996-07-04T23:59:00 ┆ 79   │
│ 1996-07-05T23:59:00 ┆ 80   │
│ …                   ┆ …    │
│ 2025-07-06T23:59:00 ┆ 81   │
│ 2025-07-07T23:59:00 ┆ 80   │
│ 2025-07-08T23:59:00 ┆ 80   │
│ 2025-07-09T23:59:00 ┆ 80   │
│ 2025-07-10T23:59:00 ┆ 79   │
└─────────────────────┴──────┘

In [4]:
date_str = lf_full.select("DATE").collect().to_series().str.to_datetime("%Y-%m-%dT%H:%M:%S").dt

lf_full = lf_full.with_columns(
    date_str.year().alias("YEAR"),
    date_str.month().alias("MONTH"),
    date_str.day().alias("DAY"),
    date_str.hour().alias("HOUR"),
    date_str.minute().alias("MINUTE"),
    date_str.second().alias("SECOND")
    
)

lf_full.collect()

shape: (10_332, 8)
┌─────────────────────┬──────┬──────┬───────┬─────┬──────┬────────┬────────┐
│ DATE                ┆ TEMP ┆ YEAR ┆ MONTH ┆ DAY ┆ HOUR ┆ MINUTE ┆ SECOND │
│ ---                 ┆ ---  ┆ ---  ┆ ---   ┆ --- ┆ ---  ┆ ---    ┆ ---    │
│ str                 ┆ i64  ┆ i32  ┆ i8    ┆ i8  ┆ i8   ┆ i8     ┆ i8     │
╞═════════════════════╪══════╪══════╪═══════╪═════╪══════╪════════╪════════╡
│ 1996-07-01T23:59:00 ┆ 83   ┆ 1996 ┆ 7     ┆ 1   ┆ 23   ┆ 59     ┆ 0      │
│ 1996-07-02T23:59:00 ┆ 83   ┆ 1996 ┆ 7     ┆ 2   ┆ 23   ┆ 59     ┆ 0      │
│ 1996-07-03T23:59:00 ┆ 82   ┆ 1996 ┆ 7     ┆ 3   ┆ 23   ┆ 59     ┆ 0      │
│ 1996-07-04T23:59:00 ┆ 79   ┆ 1996 ┆ 7     ┆ 4   ┆ 23   ┆ 59     ┆ 0      │
│ 1996-07-05T23:59:00 ┆ 80   ┆ 1996 ┆ 7     ┆ 5   ┆ 23   ┆ 59     ┆ 0      │
│ …                   ┆ …    ┆ …    ┆ …     ┆ …   ┆ …    ┆ …      ┆ …      │
│ 2025-07-06T23:59:00 ┆ 81   ┆ 2025 ┆ 7     ┆ 6   ┆ 23   ┆ 59     ┆ 0      │
│ 2025-07-07T23:59:00 ┆ 80   ┆ 2025 ┆ 7     ┆ 7   ┆ 23   ┆ 59     ┆ 0      │
│ 2025-07-08T23:59:00 ┆ 80   ┆ 2025 ┆ 7     ┆ 8   ┆ 23   ┆ 59     ┆ 0      │
│ 2025-07-09T23:59:00 ┆ 80   ┆ 2025 ┆ 7     ┆ 9   ┆ 23   ┆ 59     ┆ 0      │
│ 2025-07-10T23:59:00 ┆ 79   ┆ 2025 ┆ 7     ┆ 10  ┆ 23   ┆ 59     ┆ 0      │
└─────────────────────┴──────┴──────┴───────┴─────┴──────┴────────┴────────┘

In [5]:
lf_full = lf_full.drop("DATE")
lf_full = lf_full.select(["YEAR", "MONTH", "DAY", "HOUR", "MINUTE", "SECOND", "TEMP"])

lf_full.collect()

shape: (10_332, 7)
┌──────┬───────┬─────┬──────┬────────┬────────┬──────┐
│ YEAR ┆ MONTH ┆ DAY ┆ HOUR ┆ MINUTE ┆ SECOND ┆ TEMP │
│ ---  ┆ ---   ┆ --- ┆ ---  ┆ ---    ┆ ---    ┆ ---  │
│ i32  ┆ i8    ┆ i8  ┆ i8   ┆ i8     ┆ i8     ┆ i64  │
╞══════╪═══════╪═════╪══════╪════════╪════════╪══════╡
│ 1996 ┆ 7     ┆ 1   ┆ 23   ┆ 59     ┆ 0      ┆ 83   │
│ 1996 ┆ 7     ┆ 2   ┆ 23   ┆ 59     ┆ 0      ┆ 83   │
│ 1996 ┆ 7     ┆ 3   ┆ 23   ┆ 59     ┆ 0      ┆ 82   │
│ 1996 ┆ 7     ┆ 4   ┆ 23   ┆ 59     ┆ 0      ┆ 79   │
│ 1996 ┆ 7     ┆ 5   ┆ 23   ┆ 59     ┆ 0      ┆ 80   │
│ …    ┆ …     ┆ …   ┆ …    ┆ …      ┆ …      ┆ …    │
│ 2025 ┆ 7     ┆ 6   ┆ 23   ┆ 59     ┆ 0      ┆ 81   │
│ 2025 ┆ 7     ┆ 7   ┆ 23   ┆ 59     ┆ 0      ┆ 80   │
│ 2025 ┆ 7     ┆ 8   ┆ 23   ┆ 59     ┆ 0      ┆ 80   │
│ 2025 ┆ 7     ┆ 9   ┆ 23   ┆ 59     ┆ 0      ┆ 80   │
│ 2025 ┆ 7     ┆ 10  ┆ 23   ┆ 59     ┆ 0      ┆ 79   │
└──────┴───────┴─────┴──────┴────────┴────────┴──────┘

In [11]:
corr_schema = lf_full.collect_schema()

for column in corr_schema.names():

    corr = lf_full.select(pl.corr(column, "TEMP")).collect().item()
    print(f"{column}: {corr}")

YEAR: 0.1259503517472589
MONTH: 0.42290630234541876
DAY: 0.017572939318755688
HOUR: nan
MINUTE: nan
SECOND: nan
TEMP: 1.0